<div class="alert alert-block alert-info">
<h2>Daftar Isi: </h2>
    <ol>
    <li>Memuat Data</li>
    <li>Menelaah Data</li>
    </ol>
</div>

<div class="alert alert-block alert-danger">
<b>Catatan : </b>Jika belum pernah instal library, gunakan perintah berikut secara inline atau melalui terminal.
    <ol>
    <li>!pip install pandas</li>
    <li>!pip install numpy</li>
    </ol>
</div>

## Memuat Data
---

In [1]:
# import library
import pandas as pd
import numpy as np

In [ ]:
#Start by connecting gdrive into the google colab
# from google.colab import drive
# drive.mount('/content/gdrive')

In [5]:
# load dataset
dataset = 'epl-goalScorer(20-21).csv'
df = pd.read_csv(dataset)

In [6]:
# menampilkan 10 baris awal dari dataset
df.head(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
5,5,5555,Dominic Calvert-Lewin,32,2788,16,18.136449,0,2.101819,82,18,3,0,F S,Everton,16,18.136449,19.698850,4.159406
6,6,755,Jamie Vardy,34,2848,15,19.942946,9,5.087882,82,28,1,0,F S,Leicester,7,13.092427,18.227907,2.412588
7,7,8865,Ollie Watkins,37,3330,14,16.280178,5,5.314029,98,45,2,1,F,Aston Villa,13,14.757840,22.014021,5.334991
8,8,314,Ilkay GÃ¼ndogan,28,2033,13,9.566883,2,3.816220,54,42,1,0,M S,Manchester City,12,8.044545,19.286812,10.148375
9,9,3277,Alexandre Lacazette,30,1928,13,12.028909,2,2.209213,45,22,3,0,F M S,Arsenal,10,9.745403,14.361542,2.937941

In [7]:
# menampilkan 7 baris akhir dari dataset
df.tail(7)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
515,515,9395,Sidnei Tavares,2,84,0,0.020798,0,0.0,1,0,0,0,M S,Leicester,0,0.020798,0.020798,0.000000
516,516,9406,Nathan Broadhead,1,1,0,0.000000,0,0.0,0,0,0,0,S,Everton,0,0.000000,0.000000,0.000000
517,517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.0,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.0,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,519,9524,Anthony Elanga,1,67,0,0.000000,0,0.0,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,520,9540,Femi Seriki,1,1,0,0.000000,0,0.0,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,521,9552,Tyrese Francois,1,13,0,0.000000,0,0.0,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

## Menelaah Data
---

In [8]:
# mengungkap tipe-tipe data dari setiap kolom
print(df.dtypes)

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

Dari hasil output diatas terlihat bahwa 2 kolom pertama (yaitu: 'Unnamed: 0', dan 'id') hanyalah data numerik yang biasanya tidak memiliki makna rill, sehingga kita bisa tidak gunakan kolom/field tsb.

In [9]:
df_noid = df.iloc[:,2:] 
df_noid

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [10]:
# menampilkan data yang telah diurutkan berdasarkan player_name
df1 = df_noid.sort_values(by="player_name", ascending=True)
df1.head(10)

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
154,Aaron Connolly,16,755,2,4.412464,1,0.149897,22,5,0,0,F M S,Brighton,2,4.412464,4.720931,0.191225
281,Aaron Cresswell,35,3086,0,0.883464,8,7.347331,19,57,3,0,D,West Ham,0,0.883464,10.609667,8.381824
390,Aaron Ramsdale,37,3330,0,0.000000,0,0.053571,0,1,1,0,GK,Sheffield United,0,0.000000,2.794618,2.741047
139,Aaron Wan-Bissaka,34,3060,2,0.932454,4,2.547663,7,31,3,0,D,Manchester United,2,0.932454,12.242123,9.676275
126,Abdoulaye DoucourÃ©,28,2409,2,2.369523,3,2.381616,18,20,6,0,M,Everton,2,2.369523,10.355722,6.733990
380,Aboubakar Kamara,11,303,0,0.654920,0,0.328969,4,6,1,1,F M S,Fulham,0,0.654920,1.103215,0.182326
163,Adam Lallana,29,1528,1,1.614306,1,2.628758,22,25,0,0,F M S,Brighton,1,1.614306,9.719970,5.874305
242,Adam Webster,28,2506,1,1.272957,0,0.253216,25,5,4,0,D,Brighton,1,1.272957,7.623944,7.481681
119,Adama TraorÃ©,36,2604,2,1.995262,2,5.228081,41,54,4,0,D F M S,Wolverhampton Wanderers,2,1.995262,9.373142,3.006398
75,Ademola Lookman,34,2765,4,6.251116,4,5.258407,69,61,5,0,F M S,Fulham,4,5.489947,15.355220,7.334159

In [11]:
# menampilkan data yang telah diurutkan berdasarkan nama assists dan team_title
df1 = df_noid.sort_values(by=["assists", "team_title"], ascending=[False,True])
df1.head(10)

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
2,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
58,Kevin De Bruyne,24,1918,5,9.908440,11,10.003763,79,72,1,0,M S,Manchester City,3,7.624933,21.079132,10.636448
51,Jack Grealish,26,2187,6,5.192684,10,9.334137,50,81,5,0,F M S,Aston Villa,6,5.192684,17.487469,6.972044
3,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
57,Raphinha,30,2369,6,6.219143,9,9.524861,67,65,3,0,M S,Leeds,6,6.219143,16.792778,6.679692
6,Jamie Vardy,34,2848,15,19.942946,9,5.087882,82,28,1,0,F S,Leicester,7,13.092427,18.227907,2.412588
15,Marcus Rashford,37,2941,11,9.579710,9,4.185122,79,44,4,0,F M S,Manchester United,11,9.579710,20.441910,8.927208
83,Pascal GroÃ,33,2379,3,5.010526,8,5.368290,32,69,3,0,D M S,Brighton,0,1.965887,10.404419,6.732295
49,Timo Werner,35,2605,6,13.432796,8,6.667277,80,36,2,0,F M S,Chelsea,6,13.432796,20.533463,5.242122

In [12]:
# menampilkan statistik dasar setiap kolom data yang bertipe numerik.
df_noid.describe()

,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,npg,npxG,xGChain,xGBuildup
count,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000
mean,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,1.668582,1.821450,5.663368,3.455060
std,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,2.909929,2.931176,5.600249,3.376584
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,0.000000,0.074668,1.191391,0.720353
50%,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,0.500000,0.715585,4.252738,2.656397
75%,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,2.000000,1.945799,8.308002,5.254647
max,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,19.000000,19.130183,28.968234,18.323006

In [14]:
# jika ingin menampilkan juga statistik kolom- 
# yang bertipe non-numerik, mencakup beberapa banyak nilai unik- 
# dalam kolom (unique), nilai modus(top), serta frekuensi modus(freq)
df_noid.describe(include="all")

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
count,522,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522,522,522.000000,522.000000,522.000000,522.000000
unique,522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,28,NaN,NaN,NaN,NaN
top,Harry Kane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M S,Everton,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106,28,NaN,NaN,NaN,NaN
mean,NaN,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,NaN,NaN,1.668582,1.821450,5.663368,3.455060
std,NaN,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,NaN,NaN,2.909929,2.931176,5.600249,3.376584
min,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,NaN,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,NaN,NaN,0.000000,0.074668,1.191391,0.720353
50%,NaN,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,NaN,NaN,0.500000,0.715585,4.252738,2.656397
75%,NaN,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,NaN,NaN,2.000000,1.945799,8.308002,5.254647
max,NaN,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,NaN,NaN,19.000000,19.130183,28.968234,18.323006

### Contoh fungsi statistik setiap kolom (yang applicable)
---

In [15]:
df_noid.mean()

<ipython-input-15-117af6a43325>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_noid.mean()

games             19.643678
time            1420.068966
goals              1.862069
xG                 2.000806
assists            1.289272
xA                 1.376029
shots             17.379310
key_passes        12.963602
yellow_cards       2.061303
red_cards          0.091954
npg                1.668582
npxG               1.821450
xGChain            5.663368
xGBuildup          3.455060
dtype: float64

In [16]:
df_noid.sum()

player_name     Harry KaneMohamed SalahBruno FernandesSon Heun...
games                                                       10254
time                                                       741276
goals                                                         972
xG                                                    1044.420572
assists                                                       673
xA                                                     718.287269
shots                                                        9072
key_passes                                                   6767
yellow_cards                                                 1076
red_cards                                                      48
position        FF M SM SF M SF SF SF SFM SF M SF SF SF SF SF ...
team_title      TottenhamLiverpoolManchester UnitedTottenhamLe...
npg                                                           871
npxG                                                     950.7971
xGChain                                               2956.278233
xGBuildup                                             1803.541131
dtype: object

In [17]:
df_noid.median()

<ipython-input-17-c1bd307a5873>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_noid.median()

games             21.000000
time            1342.000000
goals              1.000000
xG                 0.737295
assists            0.000000
xA                 0.691122
shots             10.000000
key_passes         7.000000
yellow_cards       2.000000
red_cards          0.000000
npg                0.500000
npxG               0.715585
xGChain            4.252738
xGBuildup          2.656397
dtype: float64

In [18]:
df_noid.var()

<ipython-input-18-8d749ed0e2fa>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_noid.var()

games           1.350206e+02
time            1.064209e+06
goals           1.114793e+01
xG              1.100877e+01
assists         4.340345e+00
xA              3.558919e+00
shots           4.653798e+02
key_passes      2.612866e+02
yellow_cards    4.856120e+00
red_cards       8.749752e-02
npg             8.467687e+00
npxG            8.591795e+00
xGChain         3.136279e+01
xGBuildup       1.140132e+01
dtype: float64

In [19]:
df_noid.std()

<ipython-input-19-384319393e4f>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_noid.std()

games             11.619836
time            1031.604819
goals              3.338851
xG                 3.317946
assists            2.083350
xA                 1.886510
shots             21.572664
key_passes        16.164361
yellow_cards       2.203661
red_cards          0.295800
npg                2.909929
npxG               2.931176
xGChain            5.600249
xGBuildup          3.376584
dtype: float64

In [20]:
df_noid.quantile(0.75)

games             30.000000
time            2319.000000
goals              2.000000
xG                 2.053378
assists            2.000000
xA                 2.050509
shots             23.750000
key_passes        19.000000
yellow_cards       3.000000
red_cards          0.000000
npg                2.000000
npxG               1.945799
xGChain            8.308002
xGBuildup          5.254647
Name: 0.75, dtype: float64

### Mencari pencilan dengan 3-Sigma Rule
---

In [28]:
mean = df_noid[['goals']].mean()
stdev = df_noid[['goals']].std()
iso = (df_noid[['goals']] < mean - 3*stdev) | (df_noid[['goals']] > mean + 3*stdev)
df1 = df_noid[['player_name', 'goals']].assign(is_outlier=iso)
df1.loc[df1['is_outlier']]

              player_name  goals  is_outlier
0              Harry Kane     23        True
1           Mohamed Salah     22        True
2         Bruno Fernandes     18        True
3           Son Heung-Min     17        True
4         Patrick Bamford     17        True
5   Dominic Calvert-Lewin     16        True
6             Jamie Vardy     15        True
7           Ollie Watkins     14        True
8          Ilkay GÃ¼ndogan     13        True
9     Alexandre Lacazette     13        True
10          Callum Wilson     12        True
11      Kelechi Iheanacho     12        True
12             Danny Ings     12        True
13             Chris Wood     12        True

### Mencari pencilan dengan Tukey's fences
---

In [29]:
q1 = df_noid['goals'].quantile(0.25)
q3 = df_noid['goals'].quantile(0.75)
iqr = q3 - q1
iso = (df_noid[['goals']] < q1 - 1.5*iqr) | (df_noid[['goals']] > q3 + 1.5*iqr)
iseo = (df_noid[['goals']] < q1 - 3*iqr) | (df_noid[['goals']] > q3 + 3*iqr)
df1 = df_noid[['player_name', 'goals']].assign(is_outlier=iso, is_extreme_outlier=iseo)
df1.loc[df1['is_outlier'] | df1['is_extreme_outlier']]

                  player_name  goals  is_outlier  is_extreme_outlier
0                  Harry Kane     23        True                True
1               Mohamed Salah     22        True                True
2             Bruno Fernandes     18        True                True
3               Son Heung-Min     17        True                True
4             Patrick Bamford     17        True                True
5       Dominic Calvert-Lewin     16        True                True
6                 Jamie Vardy     15        True                True
7               Ollie Watkins     14        True                True
8              Ilkay GÃ¼ndogan     13        True                True
9         Alexandre Lacazette     13        True                True
10              Callum Wilson     12        True                True
11          Kelechi Iheanacho     12        True                True
12                 Danny Ings     12        True                True
13                 Chris Wood     12        True                True
14              Wilfried Zaha     11        True                True
15            Marcus Rashford     11        True                True
16                 Sadio ManÃ©     11        True                True
17                Gareth Bale     11        True                True
18            Matheus Pereira     11        True                True
19  Pierre-Emerick Aubameyang     10        True                True
20            Michail Antonio     10        True                True
21          Christian Benteke     10        True                True
22            Raheem Sterling     10        True                True
23             Edinson Cavani     10        True                True
24             Anwar El Ghazi     10        True                True
25               Tomas Soucek     10        True                True
26            Roberto Firmino      9        True                True
27              Jesse Lingard      9        True                True
28               Riyad Mahrez      9        True                True
29              Harvey Barnes      9        True                True
30                 Diogo Jota      9        True                True
31                  Che Adams      9        True                True
32          James Ward-Prowse      8        True               False
33               Jarrod Bowen      8        True               False
34                Neal Maupay      8        True               False
35              Gabriel Jesus      8        True               False
36               Nicolas Pepe      8        True               False
37                 Phil Foden      8        True               False
38                Joe Willock      8        True               False
39             James Maddison      8        True               False
40              Stuart Dallas      8        True               False
41              Jack Harrison      8        True               False
42            Bertrand TraorÃ©      7        True               False
43                   Jorginho      7        True               False
44                    Rodrigo      7        True               False
45                Richarlison      7        True               False
46              FerrÃ¡n Torres      7        True               False
47            Mason Greenwood      7        True               False
48           David McGoldrick      7        True               False
49                Timo Werner      6        True               False
50              Danny Welbeck      6        True               False
51              Jack Grealish      6        True               False
52              Tammy Abraham      6        True               False
53           Gylfi Sigurdsson      6        True               False
54            James RodrÃ­guez      6        True               False
55            Youri Tielemans      6        True               False
56                Mason Mount      6        True               False
57                   Raphinha      6        True               False

### Value_counts()
---
menghasilkan frekuensi setiap nilai unik di dalam kolom, yang tertinggi count-nya merupakan modus pada kolom tsb. Ada data dengan dua/tiga nama tim karena ada pemain yang bermain di dua/tiga klub dalam musim yang sama(ada transfer pemain)

In [30]:
df['team_title'].value_counts()

Everton                          28
West Bromwich Albion             28
Sheffield United                 27
Southampton                      27
Manchester United                27
Fulham                           27
Leicester                        27
Wolverhampton Wanderers          27
Liverpool                        27
Brighton                         26
Arsenal                          26
Newcastle United                 26
Burnley                          25
Chelsea                          25
Crystal Palace                   24
Manchester City                  24
Tottenham                        24
West Ham                         23
Aston Villa                      23
Leeds                            23
Arsenal,Newcastle United          1
Everton,Southampton               1
Aston Villa,Chelsea               1
Liverpool,Southampton             1
Chelsea,Fulham                    1
West Bromwich Albion,West Ham     1
Arsenal,West Bromwich Albion      1
Arsenal,Brighton                  1
Name: team_title, dtype: int64

In [31]:
df_noid[['team_title','time']].value_counts()

team_title               time
Leicester                17      2
Brighton                 201     2
Tottenham                3420    2
Manchester United        85      2
Manchester City          90      2
                                ..
Everton                  1612    1
                         1574    1
                         1505    1
                         1343    1
Wolverhampton Wanderers  3240    1
Length: 515, dtype: int64

### Analisis dengan groupby
---
method groupby memungkinkan analisa dilakukan secara per kelompok nilai atribut tertentu.
misal: rerata dan simpangan baku gol per tim

In [32]:
df.groupby('team_title')['goals'].std()

team_title
Arsenal                          3.352381
Arsenal,Brighton                      NaN
Arsenal,Newcastle United              NaN
Arsenal,West Bromwich Albion          NaN
Aston Villa                      3.696489
Aston Villa,Chelsea                   NaN
Brighton                         2.158703
Burnley                          2.475210
Chelsea                          2.350177
Chelsea,Fulham                        NaN
Crystal Palace                   2.901461
Everton                          3.467727
Everton,Southampton                   NaN
Fulham                           1.439175
Leeds                            4.153193
Leicester                        4.020602
Liverpool                        4.931439
Liverpool,Southampton                 NaN
Manchester City                  3.867132
Manchester United                4.317855
Newcastle United                 2.483174
Sheffield United                 1.467599
Southampton                      3.141941
Tottenham                        5.855135
West Bromwich Albion             2.310260
West Bromwich Albion,West Ham         NaN
West Ham                         3.369240
Wolverhampton Wanderers          1.648620
Name: goals, dtype: float64

In [33]:
df.groupby('team_title')['goals'].mean()

team_title
Arsenal                          1.961538
Arsenal,Brighton                 0.000000
Arsenal,Newcastle United         8.000000
Arsenal,West Bromwich Albion     0.000000
Aston Villa                      2.130435
Aston Villa,Chelsea              3.000000
Brighton                         1.500000
Burnley                          1.280000
Chelsea                          2.240000
Chelsea,Fulham                   1.000000
Crystal Palace                   1.625000
Everton                          1.607143
Everton,Southampton              3.000000
Fulham                           0.925926
Leeds                            2.608696
Leicester                        2.370370
Liverpool                        2.370370
Liverpool,Southampton            3.000000
Manchester City                  3.208333
Manchester United                2.518519
Newcastle United                 1.384615
Sheffield United                 0.666667
Southampton                      1.555556
Tottenham                        2.750000
West Bromwich Albion             1.178571
West Bromwich Albion,West Ham    0.000000
West Ham                         2.478261
Wolverhampton Wanderers          1.222222
Name: goals, dtype: float64

In [34]:
df_noid.groupby('team_title')[['goals']].mean().sort_values(by="goals", ascending=False)

                                  goals
team_title
Arsenal,Newcastle United       8.000000
Manchester City                3.208333
Aston Villa,Chelsea            3.000000
Liverpool,Southampton          3.000000
Everton,Southampton            3.000000
Tottenham                      2.750000
Leeds                          2.608696
Manchester United              2.518519
West Ham                       2.478261
Leicester                      2.370370
Liverpool                      2.370370
Chelsea                        2.240000
Aston Villa                    2.130435
Arsenal                        1.961538
Crystal Palace                 1.625000
Everton                        1.607143
Southampton                    1.555556
Brighton                       1.500000
Newcastle United               1.384615
Burnley                        1.280000
Wolverhampton Wanderers        1.222222
West Bromwich Albion           1.178571
Chelsea,Fulham                 1.000000
Fulham                         0.925926
Sheffield United               0.666667
Arsenal,Brighton               0.000000
West Bromwich Albion,West Ham  0.000000
Arsenal,West Bromwich Albion   0.000000

### Korelasi Pearson antara kolom-kolom numerik
---
* Method corr() menghasilkan tabel korelasi pearson antar kolom-kolom numerik.
* Rentang nilai: antara -1 dan 1
* -1 = korelasi negatif | 0 = tidak ada korelasi linier | +1 = korelasi positif

In [ ]:
df_noid.loc[:,'games':].corr()

                 games      time     goals  ...      npxG   xGChain  xGBuildup
games         1.000000  0.944591  0.439730  ...  0.465546  0.726598   0.697196
time          0.944591  1.000000  0.398930  ...  0.408231  0.703801   0.731377
goals         0.439730  0.398930  1.000000  ...  0.905710  0.727953   0.290990
xG            0.463869  0.411203  0.932798  ...  0.979218  0.763909   0.282746
assists       0.504168  0.473555  0.617490  ...  0.615503  0.752587   0.473254
xA            0.562806  0.516638  0.607330  ...  0.611100  0.814487   0.547983
shots         0.599164  0.529534  0.873363  ...  0.901386  0.843152   0.448197
key_passes    0.617867  0.575065  0.567752  ...  0.545537  0.807958   0.618754
yellow_cards  0.565963  0.592223  0.097151  ...  0.089065  0.401884   0.562467
red_cards     0.160326  0.186333  0.053679  ...  0.047354  0.104005   0.167660
npg           0.437110  0.392631  0.971591  ...  0.913496  0.720978   0.284135
npxG          0.465546  0.408231  0.905710  ...  1.000000  0.763481   0.273090
xGChain       0.726598  0.703801  0.727953  ...  0.763481  1.000000   0.802073
xGBuildup     0.697196  0.731377  0.290990  ...  0.273090  0.802073   1.000000

[14 rows x 14 columns]